<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
            Server Test
    </title>
</head>

<body>
cascsacsacsa
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function() {
            var socket = io();
            $('form').submit(function() {
                socket.emit('chat message', $('#m').val());
                socket.emit("chat message", "NGuyễn Minh ĐỨc");

                $('#m').val('');
                return false;

            });
            socket.on('chat message', function(msg) {
                $('#messages').append($('<li>').text(msg));
                window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
</body>

</html>